html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #40739e;
    font-family: 'Quicksand', sans-serif;
}

.buttons {
    text-align: center;
    height: 2.2rem;
    overflow: hidden;
    position: relative;
}

.buttons button {
    position: absolute;
    top: 0;
    box-sizing: border-box;
}

button.play {
    left: 50%;
    transform: translate(-40%, 0);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1rem;
    border-right-width: 0;
    border-left-width: 2rem;
    border-color: #202020;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    background: none;
    cursor: pointer;
    display: inline;
    outline: none;
}

button.skip {
    left: calc(50% + 2rem);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1rem;
    border-right-width: 0;
    border-left-width: 2rem;
    border-color: #202020;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    background: none;
    cursor: pointer;
    display: inline;
    outline: none;
}

button.skip::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    transform: translate(-60%, -50%);
    border-style: solid;
    border-width: 1rem;
    border-right-width: 0;
    border-left-width: 2rem;
    border-color: #202020;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    background: none;
    cursor: pointer;
    display: inline;
    outline: none;
}

button.rewind {
    left: calc(50% - 2rem);
    transform: translate(-100%, 0);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1rem;
    border-left-width: 0;
    border-right-width: 2rem;
    border-color: #202020;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
    margin-right: 1rem;
    background: none;
    cursor: pointer;
    display: inline;
    outline: none;
}

button.rewind::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    transform: translate(-60%, -50%);
    border-style: solid;
    border-width: 1rem;
    border-left-width: 0;
    border-right-width: 2rem;
    border-color: #202020;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
    background: none;
    cursor: pointer;
    display: inline;
    outline: none;
}

button.pause {
    left: 50%;
    transform: translate(-40%, 0);
    height: 2rem;
    border-style: solid;
    border-width: 0;
    border-left-width: 2rem;
    border-style: double;
    border-color: #202020;
    border-bottom-color: transparent;
    border-top-color: transparent;
    background: none;
    cursor: pointer;
    outline: none;
    display: inline;
}

.bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-image: url(../img/bg.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(5px);
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 15px #000;
}

.logo {
    text-align: center;
    color: #40739e;
    font-family: 'Righteous', cursive;
}

input {
    background-color: #fff;
    padding: .5rem;
    font-size: 1.3rem;
    border: none;
    outline: none;
    border-radius: 3rem;
    text-align: center;
    border: 1px solid #ababab;
    transition: .33s ease-in-out all;
    font-family: 'Quicksand', sans-serif;
    width: 20rem;
    margin-top: 2rem;
}

input:hover,
input:focus { 
    border-color: #40739e;
    border-width: 3px;
}

.main-content {
    margin-top: 3rem;
    max-height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.song {
    box-sizing: border-box;
    margin-top: .5rem;
    height: 7rem;
    width: 100%;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    transition: all .33s ease-in-out;
    border: 3px solid transparent;
}

.song:hover {
    border-color: #40739e;
}

.song .cover {
    height: 100%;
    padding-right: 1rem;
}

.song .title {
    font-size: 1.2rem;
    position: absolute;
    top: 0;
    font-weight: 900;
    color: #131313;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: calc(100% - 8rem);
}

.song .artist {
    font-size: 1rem;
    position: absolute;
    top: 1.5rem;
    color: #ababab;
}

.song .duration {
    font-size: .8rem;
    position: absolute;
    top: 2.7rem;
    color: #ababab;
}

.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #40739e;
    padding: .5rem 0;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 1rem;
    transition: all .33s ease-in-out;
}

.btn:hover {
    background-color: #5a90be;
}