@{
    ViewData["Title"] = "Home";
}

<div class="buttons">
    <button class="play"></button>
</div>

<div class="search-bar">
<input type="text" name="search" placeholder="Search Song..."/>
</div>
<div class="main-content">
</div>

<div id="songTemplate" class="song" style="display: none;">
<img class="cover" src="">
<span class="title"></span>
<span class="artist"></span>
<span class="duration"></span>
</div>